/*paginas de ayer del nombre*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: relative;
    width: 100%;
    height: 100;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.logo a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 50px;
    margin-left: 50px;
}

.menu ul{
    margin-left: 50px;
    display: flex;
}

.menu ul li{
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
    align-items: center;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 5px;
    letter-spacing: 1px;
}

.header .contact-info{
    margin-left: 48px;
    color: white;
}

.header .contact-info ul{
    margin-left: 41px;
}

.header .contact-info ul li{
    display: inline-block;
}

.header .contact-info ul li a{
    color: white;
    font-size: 15px;
    transition: all ;
}

.header .contact-info ul li   a:hover{
    color: brown;
}

.header .contact-info ul li a {
    margin: 0 36px;
    opacity: 0 0;
}

.banner{
    position: absolute;
    top: 35%;
    left: 0;
    color: white;
}

.app-text{
    padding-left: 44px;
}

.app-text h1{
    margin-top: 120px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.app-text h1 span{
    color: slateblue;
}

.app-text p{
    font-size: 15px;
    margin: 5px 5px 3px 8px;
    letter-spacing: 0px;
    color: white;
    padding-right: 250px;
    line-height: 1.6;
    letter-spacing: 5px;
}

.primary-items{
    position: absolute;
    width: 480px;
    height: 1px;
    border-top: 1px solid white;
    top: 80px;
    left: 0;
}

.play-item{
    display: flex;
    align-items: center;
    transition: all ;
}

.play-item:hover, .play-item-inner 

.play-item:hover i{
    width: white;
    font-size: 15px;
    display: inline-flex;
    width: 80px;
    height: 80px;
    padding-left: 25max;
    transition: border-color 1px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social-items{
    position: absolute;
}

.option-icons{
    position: absolute;
    right: 15px;
    
}

.social-icons ul li{
    width: 50px;
    height: 5px;
    display: inline-flex;
}

.social-icons ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 17px;
    font-size: 3px;
    font-weight: 7px;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0;
}